<div class="container">
<center> <h2> Books on my shelf </h2> </center>

<table class="table table-striped table-hover" style = "margin:auto;width:auto">
  <thead>
    <tr>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
      <td class="black"><%= booking.book.year.to_time.strftime('%d-%m-%Y') %></td>
        <td><%= link_to booking.book.title, [booking.book.author,booking.book],:class => "black"%></td>
        <td>
          <%= link_to "#{booking.book.author.first_name} #{booking.book.author.last_name}", booking.book.author, :class => "light" %>
        </td>
        <td><p class="<%= booking.stat %>"> <%= booking.stat.capitalize %><p></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>