<div class="container">
    <p id="notice"><%= notice %></p>
    <div class="col-xs-8 col-xs-offset-2">
        <!--Book img + description + info--> 
        <div class="col-xs-12" style="display:flex;justify-content: space-between;">
            <div class = "col-xs-12">
                <a href="#" class="thumbnail">
                    <%=image_tag @book.image.url %>
                </a>
            </div>
            <div class="col-xs-12">
                <h3> <%= @book.title %> </h3>
                <div style="display:flex;justify-content: space-between;">
                    <div>
                        <div>
                            <%= "#{@book.author.first_name} #{@book.author.last_name}"  %>
                        </div>
                        <div>
                            <%= @book.year.to_time.strftime('%Y') %>
                        </div>
                    </div>
                    <div>
                        </br>
                        <div>
                            <%= link_to 'Request', author_book_bookings_path(@book.author,@book), method: :post, :class => "under" %>
                        </div>
                    </div>
                </div>

                <div>
                  <hr class="light">
                    <% if @book.description? %>
                      <%= @book.description %>
                    <% else %>
                      o_O ups... someone forgot this  O_o
                    <% end %> 
                </div>
            </div>
        </div>
        
        <!--Book comment list--> 
        <div class="col-xs-12" id="new_comment">
          <hr>
          <h4> Comments </h4>
            <% @book.comments.each_with_index do |c,i| %>
              <div>
                <b><%= c.user.first_name %></b>
                <%= " - #{c.rate} " %>
              </div>
              <div>
                <%= c.text %> 
              </div>
              <% if i != @book.comments.size-1 %>
                <hr class="small light">
              <%end%>
            <% end %>
            <% if @book.comments.size == 0 %>
              <p> No one interested yet :(  </p>
            <% end %> 
        </div>
        <!--Book img + description + info--> 
        <div class="col-xs-12">
          <%= form_for([@book.author,@book,Comment.new], remote: true) do |c| %>
            <hr>
            <h4> Add a comment - Rate: </h4>
            <div class = "field">
                <%= c.text_area :text, id:"comment_area" %>
            </div>
            <div style="float:right;">
              <%= c.submit 'Comment', :class => "btn btn-default"%>
            </div>
          <% end %> 
        </div>
    </div>
</div>