<div class="container">
  <div class="col-xs-8 col-xs-offset-2">
    <h2 class="col-xs-12 "><b>Welcome to The Library </b></br></br></h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="col-xs-8 col-xs-offset-1">
        <%= f.email_field :email, autofocus: true,:placeholder => "Email", :class => "underline-session" %>
      </div>

      <div class="col-xs-8 col-xs-offset-1">
        <%= f.password_field :password, autocomplete: "off",:placeholder => "Password", :class => "underline-session"%>
      </div>
      <div class="col-xs-6 col-xs-offset-5">
        <p class="small-light">forgot my password</p>
      </div>
      <div class="col-xs-2 col-xs-offset-4 actions">
      </br>
        <%= f.submit "Sign in",:class => "sign-in" %>
      </div>
      <div class="col-xs-8 col-xs-offset-1">
        </br>
        </br>
        </br>
        <center>
          <p class="small-light"> Don't have an account? <%= link_to "SIGN UP", new_user_registration_path, :class => "black" %> 
          </p>
        </center>
      </div>
    <% end %>
  </div>
</div>